<div class="ui segment">
<form class="ui form">

    <div class="field">
        <label>Name</label>
        {{input type="text" name="first-name" placeholder="What do you call it?" value=db.name}}
    </div>

    <div class="field">
        <label>Database Url</label>
        {{input type="text" name="first-name" placeholder="e.g. postgres://username:password@host:port/database" value=db.db_url}}
    </div>

    <button class="ui violet  button" type="submit" {{action 'saveDatabase'}}>SAVE</button>
    <button class="ui button" type="submit" {{action 'testConnection'}}>Test Connection</button>
</form>
</div>
