{{#if canEdit}}
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="" class="form-label">
                Hidden Columns
            </label>
            {{searchable-select
            content=columns
            selected=selectedHiddenColumns
            closeOnSelection=true
            multiple=true
            prompt="Select columns"
            on-change=(action 'mutateHiddenColumns')}}
        </div>

    </div>
</div>
{{/if}}