{{!-- <div class="colors">
    {{#each dataColors as |dataColor|}}
    <span>
        <div class="color-box" style="background: {{dataColor.color}}"></div>
        <span class="data-name">{{dataColor.name}}</span>
    </span>
    {{/each}}
</div>
{{full-calendar events=events header=header contentHeight="auto" eventOrder="backgroundColor"}} --}}