<footer class="footer p-2">
    <div class="container p-0">
        <div class="row text-center text-lg-left">
            <div class="col-lg-6">
                <p>© 2022 <a href="http://getafterglow.in" target="_" class="text-primary">getafterglow.in</a></p>
            </div>
            <div class="col-lg-6 text-lg-right">
                <a href="http://getafterglow.in/docs" target="_" class="text-primary">Documentation</a>
            </div>
        </div>
    </div>
</footer>
