{{#ui-accordion class="styled"}}
    {{database-selector queryObject=queryObject toggleSql='toggleSql'}}
    {{subquery-builder queryObject=queryObject}}
    {{#if showGetResults}}
    <div class="content active">
        <button class="ui violet button full" {{action 'getResults'}}>
            <i class="icon arrow right"></i>
            Get Results
        </button>
    </div>
    {{/if}}
{{/ui-accordion}}
