<div class="row">
    <div class="col-6 pr-1">
        <div class="form-group">
            <label class="form-label">Value</label> {{input value=wi.value class="form-control"}} </div>
    </div>
    <div class="col-6 pl-1">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label">Text</label> {{input value=wi.text class="form-control"}} </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label">Color in Hex</label> {{input value=wi.config.color class="form-control"}} </div>
                <div class="tip mt-0 mb-0">
                Example: #FFFFFF, #F2F2F2 </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label">Icon</label> {{input value=wi.config.icon class="form-control"}} </div>
                <div class="tip mt-0 mb-0">You can choose the icon names
                    <a target="_" href="https://feathericons.com">here</a>, Example: arrow-right </div>
            </div>
        </div>
    </div>
</div>