frontend/app/
frontend/bower.json
frontend/node_modules/
frontend/package-lock.json
frontend/README.md
frontend/tests/
frontend/vendor/
frontend/bower_components/
frontend/config/
frontend/ember-cli-build.js
frontend/package.json
frontend/public/
frontend/testem.js
frontend/tmp/
deps/
erl_crash.dump
lib/
mix.exs
priv/
rel/
test/
config/
LICENSE
mix.lock
README.md
web/
_build/dev/