<div class="ui segment violet">
        <div class="ui secondary menu violet">
            <a class="item">
                Dashboards
            </a>
            <a class="item">
                Question Banks
            </a>
            {{#link-to "questions.new" class="item"}}
                New Question
            {{/link-to}}
            <div class="right menu">
                <a class="item">Aditya</a>
                <div class="ui right aligned category search item">
                    <div class="ui transparent icon input">
                        <input class="prompt" type="text" placeholder="Search
                                                                       animals...">
                        <i class="search link icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
</div>
