<html>
  <head>
    <style>
 h1 {
      font-size: 3em;
      font-weight: 600;
    }
 h2 {
      font-size: 2em;
      font-weight: 600;
    }
 h3{
      font-size: 1.5em;
      font-weight: 600;
    }
 h4{
      font-size: 1.25em;
      font-weight: 600;
    }
 h5{
      font-size: 1em;
      font-weight: 600;
    }
 h6{
      font-size: 0.75em;
      font-weight: 600;
    }
 blockquote{
      margin-left: 5px;
      padding-left: 5px;
      font-style: italic;
      font-weight: 600;
      border-left: 3px solid #a3adc3;
    }
 code {
      background: #f5f7fb;
      border-radius: 3px;
    }
 a{
      color: #6574cd;
    }
 ul {
      padding-left: 8px;
      list-style-type: disc;
    }
 ol {
      padding-left: 8px;
      list-style-type: decimal;
    }
  .colored {
      color: green;
    }
    </style>
  </head>
  <body>
<div class="email_wrapper" style=" width: 100%; background: #f5f7fb; ">
<div class="email_html" style="    width: 800px;    margin: auto;    color: #6e7687;">

<div class="dashbaord-header" style="      font-size: 3em;      width: 100%;      margin: auto;      padding: 5px;      background: white;      border: 1px solid rgb(0 0 0 / 0.05);      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);"><%= name %></div>
<%= for widget <- settings do %>

  <div class="widget_container" style=" overflow: auto; width: 100%; background: white; border-radius: 2px; border: 1px solid rgb(0 0 0 / 0.05); margin: 10px 0px; box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05); ">
  <%= if widget.title do %>
    <div class="widget_title" style=" font-weight: 600; font-size: 1.5em; padding: 5px; border-bottom: 1px solid rgb(0 0 0 / 0.05); box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05); ">
      <a href="<%= widget.link %>"><%= widget.title %></a>
    </div>
  <% end %>
  <%= if widget.type == "note" do %>
   <div class="note_container"> <%= widget.results %> </div>
  <% end %>

  <%= if widget.type == "notes" do %>
   <div class="note_container" style=" padding: 5px; "> <%= widget.results %> </div>
  <% end %>
  <%= if Enum.member?(["question", "visualization"], widget.type) do %>
    <%= if Enum.member?(["table", "transposed_table", "number"], widget.renderer_type) do %>
    <table style=" table-layout: inherit; width: 100%; overflow: auto; border-collapse: collapse !important; border-radius: 3px; ">
       <thead style=" background: #f5f7fb; ">
       <%= for column <- widget.results.columns  do %>
         <th style="    white-space: nowrap;    overflow: hidden;    text-overflow: ellipsis;    max-width: 400px;    min-width: 10px;    padding: 4px;    text-transform: uppercase;    text-align: left;         "><%= column %></th>
       <% end %>
       </thead>
       <tbody>
         <%= for row <- widget.results.rows do %>
           <tr style=" border-bottom: 1px solid rgb(0 0 0 / 0.05); ">
           <%= for el <- row do %>
              <td style="    white-space: nowrap;    overflow: hidden;    text-overflow: ellipsis;    max-width: 400px;    min-width: 10px;    padding: 4px;"><%= el %></td> 
           <% end %>
           </tr>
         <% end %>
       </tbody>
    </table>
  <%= else %>
    <img class="chart_image" src="<%= widget.results %>" />
  <% end %>
    <% end %>
  </div>
<% end %>
</ div>
</div>
  </body>

</html>



<!-- <html> -->
<!--   <head> -->

<!-- <style> -->
<!-- </style> -->
<!-- </head> -->
<!-- <body> -->
<!-- </body> -->
<!-- </html> -->
