<div class="mx-auto chart-circle chart-circle-xs" data-value="0.96" data-thickness="3" data-color="blue">
    <canvas width="80" height="80" style="height: 40px; width: 40px;"></canvas>
    <div class="chart-circle-value">96%</div>
</div>