{{#bs-modal position="center" open=open onHide=(action 'clear') as |modal|}}
   {{#modal.header}}
       <h4 class="modal-title">
        Edit Tags of  This {{entityName}}
        </h4>
   {{/modal.header}}
   {{#modal.body}}

        <div class="tip mb-2">Tip: You can create new tags by typing the name of tag in search of select box and then clicking add from dropdown</div> 
        {{searchable-select
           content=tags
           sortBy="name"
           multiple=true
           optionLabelKey="name"
           selected=selectedTags
           closeOnSelection=false
           prompt="Select a tag from dropdown"
           on-change=(action (mut entity.tags))
            on-add=(action 'addNewTag')}}
   {{/modal.body}}
   {{#modal.footer as |footer|}}
     {{#bs-button onClick=(action 'clear') type="danger"}}Cancel{{/bs-button}}
     {{#bs-button onClick=(action 'saveEntity') class="btn-primary" type="primary"}}Save{{/bs-button}}
   {{/modal.footer}}
 {{/bs-modal}}
