$primaryColor   : #6435c9;
$primaryColorShade2: #7962ab;
$errorColor: #f44336 ;
$errorColorShade2: #e05e5e ;
$lightColor: gainsboro;
$lightPrimaryColor: rgba(100, 53, 201, 0.2);
$greyColor: #dededf;
$textColor: #212133;
$textColorShade2: #a2a2a2;
$secondaryTextColor: #7b7b7b;
$tertiaryColor: #44b35e;
$tertiaryColorShade2: #3c9651;
$secondaryColor: #f9fbfc;
$lightTransparentColor: rgba(61, 64, 70, 0.85);
$borderSecondaryColor:  #dee5e8;
$borderRadius: 0.28571429rem;
$warningColor: #fff700;
@function box-shadow($color){
  @return 0px 0px 0px 0px $color !important ;
}

// plotly css
g.slicetext{
    font-weight: bold;
}

.shortcut-button{
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 99;
  background: #daa718;
  padding: 10px 17px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 0px grey !important;;
  color: white;
  border: 2px solid;
}
.sidebar{
  position: fixed;
  background: $lightTransparentColor;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 70%;
  color: white;
  z-index: 80;
  & .header{
    background: #515665;
    border-radius: 2px;
    padding: 5px;
    margin: 5px 0px;
    text-transform: uppercase;
    text-align: center;
  }
  & .subheader{
    padding: 10px;
  }
  & .content{
    padding: 10px;
    background: #515665;
    & .shortcut{
      float: right
    }
  }
}

.searchbar.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $lightTransparentColor;

    .searchbar-content{
      margin: 10% auto;
      width: 500px;
      & .content{
        padding: 0px;
      }
      & input{
        border: 0px !important;
      }
      & .menu .item.active{
        background: $primaryColor !important;
        color: white;
      }
    }
}
.loading-height{
    height: 100vh;
}

.warning{
    border-top: 3px solid $warningColor !important;
}

.number-block{
    margin-bottom: 50px;
}
.ace_layer.ace_gutter-layer{
    background: white;
    border-right: 1px solid $greyColor;
}
.ace-editor{
    margin-left: -14px !important;
    margin-right: -14px !important;
    border-bottom: 1px solid $greyColor !important;
    border-top: 1px solid $greyColor !important;
}
.ace_layer.ace_gutter-layer{
    width: 40px !important;
}
.calander-data {
    border-radius: 0;
    padding: 5%;
    text-align: center;
    border-color: $secondaryColor;

}
.fc-toolbar.fc-header-toolbar {
    background: $secondaryColor;
    margin-bottom: 0px;
    padding: 10px;
    border: 1px solid $greyColor;
    border-bottom: none;
    color: $textColor;
    borderColor: $secondaryColor;
}
button.fc-button.fc-state-default {
    background: white;
    border-radius: $borderRadius;
    border: 1px solid $greyColor;
    color: $textColor;

}
button.fc-prev-button.fc-button.fc-state-default.fc-corner-left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
button.fc-next-button.fc-button.fc-state-default.fc-corner-right{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
th.fc-day-header.fc-widget-header {
    background: $secondaryColor;
    borderColor: $secondaryColor;
    border-top: none;
    padding: 1%;
    color: $textColor;
}
.fc-widget-content .th{
    border-color: $secondaryColor !important;
}
.color-box {
    width: 15px;
    height: 15px;
    border: 3px solid #dededf;
    display: inline-flex;
}
.colors {
    text-align: center;
    padding: 10px;

}
span.data-name {
    margin: 0px 15px 0px 10px;
}
.grid-stack-item-content .question-title {
    visibility: hidden;
}

.grid-stack-item-content:hover .question-title {
    visibility: initial;
}

.grid-stack-item-content i.remove {
    display: none;
}

.grid-stack-item-content:hover i.remove {
    display: initial;
}

.grid-stack-item-content i.edit {
    display: none;
}

.grid-stack-item-content:hover i.edit {
    display: initial;
}
.add-text {
    color: #6435c9;
    font-style: italic;
    text-decoration: underline;

}
.ui.violet.text{
    color: $primaryColor;
}
.ui.grid.results-view-selector{
    margin-top: 1em !important;
}
input.bigger{
    height: 4em !important;
}
.database-selector-sql-mode{
    max-width: 100px;
}

.ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"], .ui.form input[type="time"], .ui.form input[type="text"], .ui.form input[type="file"], .ui.form input[type="url"] .ui.selection.dropdown{
  border: 1px solid $greyColor;
  height: 2.87em;
  color: $textColorShade2;
}
.ui.form input:not([type]):focus, .ui.form input[type="date"]:focus, .ui.form input[type="datetime-local"]:focus, .ui.form input[type="email"]:focus, .ui.form input[type="number"]:focus, .ui.form input[type="password"]:focus, .ui.form input[type="search"]:focus, .ui.form input[type="tel"]:focus, .ui.form input[type="time"]:focus, .ui.form input[type="text"]:focus, .ui.form input[type="file"]:focus, .ui.form input[type="url"]:focus{
  border: 1px solid $greyColor;
  color: $textColorShade2;
}
i{
  color: $primaryColorShade2;
  &:hover{
    color: $primaryColor;
  }
}
.ui.dropdown.menu-item:not(.button) > .default.text, .ui.default.dropdown:not(.button) > .text{
  color: $textColor;
}
.ui.positive.buttons .button, .ui.positive.button{
  background-color: $tertiaryColor;
  & i{
    color: white;
  }
}
.ui.deny.button{
  background-color: $errorColorShade2;
  color: white;
  &:hover{
    background-color: $errorColor
  }
}
input{
height: 30px;
}
.ui.button{
    padding: 15px 30px !important;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase !important;
    &.violet{
    box-shadow: box-shadow($primaryColorShade2);
    background-image: linear-gradient(to right bottom, rgba(117, 126, 239, 0.5), rgba(50, 54, 105, 0.7));
    }
    &.red{
      box-shadow: box-shadow($errorColor);
    }
    &.green{
      box-shadow: box-shadow($tertiaryColor);
    }
    &.positive{
      box-shadow: box-shadow($tertiaryColor);
    }

    & i{
        color: white;
    }
}
label {
    margin-top: 30px !important;
}
.ui.button.alert-state{
  padding: 5px 10px;
  font-size: 0.8em;
  &.yellow{
    border: 1px solid #a07c16;
  }
  &.red{
    border: 1px solid #943030;
  }
}
.ui.dimmer{
  background: $lightTransparentColor;
}
.ui.modal{
  box-shadow: none !important;
  border: 1px solid $greyColor !important;
}
.ui.styled.accordion .title, .ui.styled.accordion .accordion .title{
  color: $textColor;
  font-weight: normal;
}
.ui.very.basic.button {
  &:hover{
    box-shadow: none !important;
  }
  box-shadow: none !important;
}
.ui.styled.accordion, .ui.styled.accordion .accordion {
  border-radius: $borderRadius ;
  background: #FFFFFF;
  box-shadow: box-shadow($greyColor);
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-bottom: 3px solid $borderSecondaryColor;

}
.ui.search.selection.dropdown{
  border: 1px solid $greyColor;
  color: $textColorShade2;
  width: 100%;
}
.ui.search.selection.dropdown:focus{
  border: 1px solid $greyColor;
}
.ui.search.selection.dropdown:hover{
    border: 1px solid $greyColor;
}
.ui.search.selection.active.dropdown .menu {
    border: 1px solid $greyColor;
  border-color: $greyColor;
  border-top-width: 0px !important;
  box-shadow: box-shadow($greyColor);

}

.ui.search.selection.active.dropdown:hover .menu {
  border-color: $greyColor;
  margin-top: 8px;
  box-shadow: box-shadow($greyColor);
  & .item:hover{
     background: $secondaryColor;

  }

}
.ui.search.selection.active.dropdown .menu:hover {
  border-color: $greyColor;
  border-top-width: 0px !important;
  box-shadow: box-shadow($greyColor);

}

.ui.search.selection.active.upward.dropdown .menu {
    border-top-width: 2px !important;
}

.ui.search.selection.active.upward.dropdown:hover .menu {
    margin-bottom: 2px;
    border-top-width: 2px !important;

}
.ui.form .field:last-child, .ui.form .fields:last-child .field {
    margin-bottom: 1em;
}
.ui.icon.search.input input{
    border: 1px solid $greyColor;
    height: 2.87em;
    &:hover{
        border: 1px solid $greyColor;
    }
    &:focus{
        border: 1px solid $greyColor;
    }
}
.ui.search.selection.active.upward.dropdown .menu:hover {
    border-top-width: 2px !important;
}
.ui.search.selection.active.dropdown:focus {
  border-color: $greyColor;
  border-top-width: 2px !important;
  box-shadow: box-shadow($greyColor);

}
.ui.inverted.dimmer .ui.loader:after {
  border-color: $primaryColor transparent transparent;
}

.ui.inverted.dimmer .ui.loader:before {
  border-color: $lightPrimaryColor;
}
.ui.inverted.dimmer .ui.loader {
  color: $primaryColor;
}
[data-tooltip]:after{
  box-shadow: none !important;
}

.ui.basic.segment{
  box-shadow: none !important;
}
.ui.segment{
    border: 1px solid $greyColor;
    border-bottom: 3px solid $borderSecondaryColor;
  box-shadow: box-shadow($greyColor);
}
.ui.grid.container{
  width: calc( 1127px + 8% ) !important;
  margin: 1%;
}
.ui.label{
  border-radius: 1rem;
}
.arrow.prev{

} .arrow.next {

}
.switch{
  margin-left: 92%;
  width: 14px;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.margin-top-10{
  margin-top: 10px;
}
[data-ember-action] {
  cursor: pointer;

}
.number-chart {
    margin: 5% 1%;
    & .number {
        font-size: 400%;
    }
    .text {
        font-size: 150%;
        margin-top: 30px;
        color: $secondaryTextColor;
    }
}
.centered{
  text-align: center;
}
.truncate {
  max-width: 250px;
  white-space: nowrap;
  overflow: auto;
}
.hidden{
  display: none;
}
.query.error {
  color: $errorColor;
  text-align: center;
}
.dashboard-name {
  color: white;
  background: $primaryColorShade2;
  border-radius: $borderRadius;
  border: 1px solid $primaryColorShade2;
  padding: 15px 10px;
  box-shadow: box-shadow($primaryColorShade2);
  text-align: center;
  &:hover{
    cursor: pointer;
    background: white;
    color: $primaryColorShade2;
  }

}

.dashboard-create {
  padding: 15px 10px;
  color: white;
  background: $tertiaryColor;
  border-radius: $borderRadius;
  border: 1px solid $tertiaryColor;
  text-align: center;
  text-transform: uppercase;
  box-shadow: box-shadow($tertiaryColor);
  &:hover{
    cursor: pointer;
    background: white;
    color: $tertiaryColor;
  }

}
.item.pp{
    padding: 0px !important;
    margin: -6px 5px -5px -5px !important;
}
.profile_pic{
    border-radius: 50em;
    width: 30px;
}
.ui.basic.segment.login {
    height: 150px;
    width: 500px;
    margin: auto !important;
    text-align: center;
    background: white !important;
    border: 1px solid $greyColor !important;
    border-radius: $borderRadius !important;
    margin-top: 100px !important;
    box-shadow: box-shadow($greyColor);

}
.big.logo {
    img{
        width: 100px;
    }
}
.small.logo {
    img{
        width: 50px;
    }
}
.queston-title {
    color: $primaryColor;
    font-size: 1.2em;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.page-title{
    font-size: 1.2em;
}
a {
    color: $primaryColor;
}

.ui.menu .item{
    &:hover{
       background: $secondaryColor !important;
    }
    &.active{
       background: $secondaryColor !important;

    }
}
.ui.violet.menu .active.item{
    background: $primaryColor !important;
    box-shadow: box-shadow($primaryColor);
    color: white !important;
}
.ui.dropdown .menu {
    top: 30px;
}
.ui.very.basic.button {
    text-transform: uppercase;

}
.ui.dropdown .menu.left {
    left: -50px;
}
#toast-container > div{
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: $borderRadius;
    background: white;
    color: $textColor;
    border: 1px solid $greyColor ;
    opacity: 1;
    &:hover{
        box-shadow: none;
        -webkit-box-shadow: none;
    }

}
.toast-error{
    border-left: 5px solid $errorColor !important;
}
.toast-success{
    border-left: 5px solid $primaryColor !important;
}
button.toast-close-button{
    color: $textColor
}
.question-subtitle {
    font-size: 0.9em;
    font-style: italic;
    color: $secondaryTextColor;
}
.permission-select {
    border: 1px solid $primaryColorShade2;
    text-align: center;
    border-radius: $borderRadius;
    padding: 15px 10px;
    box-shadow: box-shadow($primaryColorShade2);
    &.selected{
        background-color: $primaryColorShade2;
        color: white;
    }

}
.pagination{
  padding-left: 0px !important;
  li{
    &.disabled{
      &:hover{

        a{
          border: 1px solid $greyColor;
          background-color: $secondaryColor;
          color: $primaryColor;
        }

      }
      & a{
        border: 1px solid $greyColor;
        background-color: $secondaryColor
      }
    }

    display: inline;
    & a {
      padding: 10px 15px;
      border: 1px solid $primaryColor;
      margin: 5px;
      /* color: violet; */
      border-radius: 0.2rem;
      color: $primaryColor;
    }
    &.active{
      a{
        background-color: $primaryColor;
        color: white;
      }
    }
    &:hover{

      a{
        background-color: $primaryColor;
        color: white;
      }

    }
  }
}
.pace.pace-active{
  height: 2px;
  width: 100%;
}
.empty-space{
  width: 15px;
  height: 20px;
  display: inline-table;
}
.display-inline-block{
  display: inline-block;
}

.ui.modal.visible.active{
    box-shadow: box-shadow($greyColor)
}

.ui.vertical.menu {
    width: 15rem;
    box-shadow: box-shadow($greyColor);
    & .item{
        &:hover{
          background: $secondaryColor !important;
        }
        & .active{
        background: $secondaryColor;
        }
    }

}
.ui.menu .ui.dropdown .menu > .item:hover{
       background: $secondaryColor !important;
}
.ui.circular.button{
  padding: 8px 11px;
}

.pace .pace-progress {
  background: $primaryColor;
  position: relative !important;
  width: 100%;
}
.grid-stack{
  width: 100% !important;
}
.grid-stack > .grid-stack-item > .ui-resizable-se{
  right: 10px;
  bottom: 10px;
}
.ui.label > .icon {
    color: $primaryColor;
    margin: 0em 0em 0em 0.7em;
}
.grid-stack-item-content{
  box-shadow: box-shadow($greyColor);
}

.ui-resizable-resizing > .grid-stack-item-content{
  box-shadow: box-shadow($greyColor);
}
.ui-draggable-dragging > .grid-stack-item-content{
  box-shadow: box-shadow($greyColor);
}
.ui.grid > * {
  padding-left: 0rem !important;
  padding-right: 0rem !important;

}
.ui.label.square {
    border-radius: $borderRadius;
    margin: 0.5em;

}
.ui.grid{
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}
.no-border-radius{
  border-radius: 0px !important;
  &.ui.segment.top-header{
      border-bottom: none;
  }
}
.no-border-top{
  border-top: 0px !important;
}
.no-padding{
    padding: 0px !important;
    &.wide.column{
        padding: 0px !important;
    }
}
.ui.grid .no-padding{
    padding: 0px !important;
    &.wide.column{
        padding: 0px !important;
    }
}
.margin-bottom{
  margin-bottom: 5px !important;
}
.margin-top{
  margin-top: 5px;
}
.tip {
    font-style: italic;
    font-size: 0.9em;
    color: grey;
    font-weight: 400;
}
.margined-content {
  margin-left: 5px;
  margin-right: 5px;

}
.menu .item i {
    color: rgba(0, 0, 0, 0.95);
}
label {
    margin-top: -10px !important;
    position: absolute;
    z-index: 1;
    background: white;
    margin-left: 8px !important;
    padding: 0px 5px;
    font-size: 0.8em !important;
    color: $textColorShade2 !important;
    text-transform: uppercase !important;
    font-weight: normal !important;
}
.ui.segment.padded-content{
  padding-left: 22px !important;
  padding-right: 22px !important;
}
.ui.icon.search.input {
    width: 90% !important;

}
.ui.labeled{
    margin-bottom: 5px !important;
  & input{
    height: 2.56em;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    &:focus{
        border-color: $primaryColor;
    }
  }
}
.ui.grid > .column:not(.row){
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.grid-stack-item-content {
    top: 2px !important;
    bottom: 2px !important;
    left: 2px !important;
    right: 2px !important;

    & .title {
        font-weight: bold;
        margin-bottom: 10px;
    }

}
.full-height{
  height: 100%;
}
.overflow-y-auto{
  overflow-y: auto
}
.full{
  width: 100% !important;
}
.no-top-border{
  border-top: none !important;
}
.no-top-margin{
  margin-top: 0px !important;
}
.no-bottom-margin{
  margin-bottom: 0px !important;
}
.no-border{
  border: none !important;
}
.border{
  border: 1px solid $greyColor;
  border-radius: $borderRadius;
}
.wide.column .dashboard-title{
  font-size: 1.2em;
  font-weight: 400;
  text-transform: capitalize;
}
.grid-stack > .grid-stack-item > .grid-stack-item-content{
  overflow-y: hidden;
}
.wide.column .question-title{
  font-size: 1em;
  font-weight: 400;
  text-transform: capitalize;
}
.options-dashboard{
  margin-top: 50px;
}
.without-header{
  background: $secondaryColor !important;
  &:fullscreen{
      overflow: auto;
    background: $secondaryColor !important;
  }
  &:-webkit-full-screen {
      overflow: auto;
    background: $secondaryColor !important;
  }
  &:-moz-full-screen {
      overflow: auto;
    background: $secondaryColor !important;
  }
}
.results {
  min-height: 500px;
  width: 100%;
  & .section{
    text-align: center;
    margin-top: 18%;
    font-size: x-large;
    color: $lightColor;
    & i{
      font-size: 5em;
    }
  }
}
body{
  font-family: 'Lato', sans-serif;
  color: $textColor !important;
  background-color: $secondaryColor;
}
.half {
  width: 50%;
  margin: auto !important;
}
.item.padded{
  padding: 3% 1% !important;
}
.right{
  float: right;
}


.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}


.tag {
  background: #eee;
  border-radius: 30px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;

}
.tag-box{
    height: 100px;
    padding: 43px 0px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
}
.multiselect-accordion {
    & .title{
        color: $textColorShade2 !important;
    }
    & .content{
        padding-bottom: 0px;
    }
    & .multiselect-label {
        margin: 5px;
    }
    & .multiselect-checkboxes{
        max-height: 150px;
        overflow: auto;
        margin: 0px;
    }
    & .multiselect-selected {
        display: inline-block;
        border: 1px solid $primaryColor;
        padding: 2px 12px;
        border-radius: 50px;
        padding-right: 0px;
        margin: 2px;
    }

    & .selected{
        padding: 10px;
    }
}


.tag:hover {
  background-color: crimson;
  color: white;

}

.tag:hover::after {
  border-left-color: crimson;

}
.results-table{
    margin: 5px;
}
