@import 'variables';
@import "ember-searchable-select/style";
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);
$primaryColor: $primary;
$primaryColorShade2: #7962ab;
$errorColor: #f44336;
$errorColorShade2: #e05e5e;
$lightColor: gainsboro;
$lightPrimaryColor: rgba(100, 53, 201, 0.2);
$greyColor: #dededf;
$textColor: #212133;
$textColorShade2: #a2a2a2;
$secondaryTextColor: #7b7b7b;
$tertiaryColor: #44b35e;
$tertiaryColorShade2: #3c9651;
$secondaryColor: #f9fbfc;
$lightTransparentColor: rgba(61, 64, 70, 0.85);
$borderSecondaryColor: #dee5e8;
$borderRadius: 0.28571429rem;
$warningColor: #fff700;
@function box-shadow($color) {
    @return 0px 0px 0px 0px $color !important;
}

// plotly css
g.slicetext {
    font-weight: bold;
}

.shortcut-button {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 99;
    background: #daa718;
    padding: 10px 17px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 0px grey !important;
    ;
    color: white;
    border: 2px solid;
}

.sidebar {
    position: fixed;
    background: $lightTransparentColor;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 70%;
    color: white;
    z-index: 80;
    & .header {
        background: #515665;
        border-radius: 2px;
        padding: 5px;
        margin: 5px 0px;
        text-transform: uppercase;
        text-align: center;
    }
    & .subheader {
        padding: 10px;
    }
    & .content {
        padding: 10px;
        background: #515665;
        & .shortcut {
            float: right
        }
    }
}

.searchbar.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $lightTransparentColor;
    .searchbar-content {
        margin: 10% auto;
        width: 500px;
        & .content {
            padding: 0px;
        }
        & input {
            border: 0px !important;
        }
        & .menu .item.active {
            background: $primaryColor !important;
            color: white;
        }
    }
}

.loading-height {
    height: 100vh;
}

.warning {
    border-top: 3px solid $warningColor !important;
}

.number-block {
    margin-bottom: 50px;
}

.ace_layer.ace_gutter-layer {
    background: white;
    border-right: 1px solid $greyColor;
}

.ace-editor {
    margin-left: -14px !important;
    margin-right: -14px !important;
    border-bottom: 1px solid $greyColor !important;
    border-top: 1px solid $greyColor !important;
}

.ace_layer.ace_gutter-layer {
    width: 40px !important;
}

.calander-data {
    border-radius: 0;
    padding: 5%;
    text-align: center;
    border-color: $secondaryColor;
}

.fc-toolbar.fc-header-toolbar {
    background: $secondaryColor;
    margin-bottom: 0px;
    padding: 10px;
    border: 1px solid $greyColor;
    border-bottom: none;
    color: $textColor;
    borderColor: $secondaryColor;
}

button.fc-button.fc-state-default {
    background: white;
    border-radius: $borderRadius;
    border: 1px solid $greyColor;
    color: $textColor;
}

button.fc-prev-button.fc-button.fc-state-default.fc-corner-left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

button.fc-next-button.fc-button.fc-state-default.fc-corner-right {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

th.fc-day-header.fc-widget-header {
    background: $secondaryColor;
    borderColor: $secondaryColor;
    border-top: none;
    padding: 1%;
    color: $textColor;
}

.fc-widget-content .th {
    border-color: $secondaryColor !important;
}

.color-box {
    width: 15px;
    height: 15px;
    border: 3px solid #dededf;
    display: inline-flex;
}

.colors {
    text-align: center;
    padding: 10px;
}

span.data-name {
    margin: 0px 15px 0px 10px;
}

.grid-stack-item-content .question-title {
    visibility: hidden;
}

.grid-stack-item-content:hover .question-title {
    visibility: initial;
}

.grid-stack-item-content i.remove {
    display: none;
}

.grid-stack-item-content:hover i.remove {
    display: initial;
}

.grid-stack-item-content i.edit {
    display: none;
}

.grid-stack-item-content:hover i.edit {
    display: initial;
}

.add-text {
    color: #6435c9;
    font-style: italic;
    text-decoration: underline;
}

.ui.violet.text {
    color: $primaryColor;
}

.ui.grid.results-view-selector {
    margin-top: 1em !important;
}

input.bigger {
    height: 4em !important;
}

.database-selector-sql-mode {
    max-width: 100px;
}

.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="file"],
.ui.form input[type="url"] .ui.selection.dropdown {
    border: 1px solid $greyColor;
    height: 2.87em;
    color: $textColorShade2;
    vertical-align: inherit;
}

.ui.form input:not([type]):focus,
.ui.form input[type="date"]:focus,
.ui.form input[type="datetime-local"]:focus,
.ui.form input[type="email"]:focus,
.ui.form input[type="number"]:focus,
.ui.form input[type="password"]:focus,
.ui.form input[type="search"]:focus,
.ui.form input[type="tel"]:focus,
.ui.form input[type="time"]:focus,
.ui.form input[type="text"]:focus,
.ui.form input[type="file"]:focus,
.ui.form input[type="url"]:focus {
    border: 1px solid $greyColor;
    color: $textColorShade2;
    vertical-align: inherit;
}

i {
    &:hover {
        color: $primaryColor;
    }
}

.ui.dropdown.menu-item:not(.button)>.default.text,
.ui.default.dropdown:not(.button)>.text {
    color: $textColor;
}

.ui.positive.buttons .button,
.ui.positive.button {
    background-color: $tertiaryColor;
    & i {
        color: white;
    }
}

.ui.deny.button {
    background-color: $errorColorShade2;
    color: white;
    &:hover {
        background-color: $errorColor
    }
}

.ui.button {
    padding: 15px 30px !important;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase !important;
    &.violet {
        box-shadow: box-shadow($primaryColorShade2);
        background-image: linear-gradient(to right bottom, rgba(117, 126, 239, 0.5), rgba(50, 54, 105, 0.7));
    }
    &.red {
        box-shadow: box-shadow($errorColor);
    }
    &.green {
        box-shadow: box-shadow($tertiaryColor);
    }
    &.positive {
        box-shadow: box-shadow($tertiaryColor);
    }
    & i {
        color: white;
    }
}

.ui.alert-state {
    padding: 5px 10px;
    font-size: 0.8em;
    &.yellow {
        color: $warningColor;
    }
    &.red {
        color: $errorColor;
    }
}

.ui.dimmer {
    background: $lightTransparentColor;
}

.ui.modal {
    box-shadow: none !important;
    border: 1px solid $greyColor !important;
}

.ui.styled.accordion .title,
.ui.styled.accordion .accordion .title {
    color: $textColor;
    font-weight: normal;
}

.ui.very.basic.button {
    &:hover {
        box-shadow: none !important;
    }
    box-shadow: none !important;
}

.ui.styled.accordion,
.ui.styled.accordion .accordion {
    border-radius: $borderRadius;
    background: #FFFFFF;
    box-shadow: box-shadow($greyColor);
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-bottom: 3px solid $borderSecondaryColor;
}

.ui.search.selection.dropdown {
    border: 1px solid $greyColor;
    color: $textColorShade2;
    width: 100%;
}

.ui.search.selection.dropdown:focus {
    border: 1px solid $greyColor;
}

.ui.search.selection.dropdown:hover {
    border: 1px solid $greyColor;
}

.ui.search.selection.active.dropdown .menu {
    border: 1px solid $greyColor;
    border-color: $greyColor;
    border-top-width: 0px !important;
    box-shadow: box-shadow($greyColor);
}

.ui.search.selection.active.dropdown:hover .menu {
    border-color: $greyColor;
    margin-top: 8px;
    box-shadow: box-shadow($greyColor);
    & .item:hover {
        background: $secondaryColor;
    }
}

.ui.search.selection.active.dropdown .menu:hover {
    border-color: $greyColor;
    border-top-width: 0px !important;
    box-shadow: box-shadow($greyColor);
}

.ui.search.selection.active.upward.dropdown .menu {
    border-top-width: 2px !important;
}

.ui.search.selection.active.upward.dropdown:hover .menu {
    margin-bottom: 2px;
    border-top-width: 2px !important;
}

.ui.form .field:last-child,
.ui.form .fields:last-child .field {
    margin-bottom: 1em;
}

.ui.icon.search.input input {
    border: 1px solid $greyColor;
    height: 2.87em;
    &:hover {
        border: 1px solid $greyColor;
    }
    &:focus {
        border: 1px solid $greyColor;
    }
}

.ui.search.selection.active.upward.dropdown .menu:hover {
    border-top-width: 2px !important;
}

.ui.search.selection.active.dropdown:focus {
    border-color: $greyColor;
    border-top-width: 2px !important;
    box-shadow: box-shadow($greyColor);
}

.ui.inverted.dimmer .ui.loader:after {
    border-color: $primaryColor transparent transparent;
}

.ui.inverted.dimmer .ui.loader:before {
    border-color: $lightPrimaryColor;
}

.ui.inverted.dimmer .ui.loader {
    color: $primaryColor;
}

[data-tooltip]:after {
    box-shadow: none !important;
}

.ui.basic.segment {
    box-shadow: none !important;
}

.ui.segment {
    border: 1px solid $greyColor;
    border-bottom: 3px solid $borderSecondaryColor;
    box-shadow: box-shadow($greyColor);
    &.outlined {
        border-bottom: none;
        border: 1px solid $greyColor;
    }
}

.ui.grid.container {
    width: calc( 1127px + 8%) !important;
    margin: 1%;
}

.ui.label {
    border-radius: 1rem;
}

.arrow.prev {}

.arrow.next {}

.switch {
    margin-left: 92%;
    width: 14px;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.margin-top-10 {
    margin-top: 10px;
}

[data-ember-action] {
    cursor: pointer;
}

.number-chart {
    margin: 5% 1%;
    & .number {
        font-size: 400%;
    }
    .text {
        font-size: 150%;
        margin-top: 30px;
        color: $secondaryTextColor;
    }
}

.centered {
    text-align: center;
}

.truncate {
    max-width: 250px;
    white-space: nowrap;
    overflow: auto;
}

.hidden {
    display: none;
}

.query.error {
    color: $errorColor;
    text-align: center;
}

.dashboard-name {
    color: white;
    background: $primaryColorShade2;
    border-radius: $borderRadius;
    border: 1px solid $primaryColorShade2;
    padding: 15px 10px;
    box-shadow: box-shadow($primaryColorShade2);
    text-align: center;
    &:hover {
        cursor: pointer;
        background: white;
        color: $primaryColorShade2;
    }
}

.dashboard-create {
    padding: 15px 10px;
    color: white;
    background: $tertiaryColor;
    border-radius: $borderRadius;
    border: 1px solid $tertiaryColor;
    text-align: center;
    text-transform: uppercase;
    box-shadow: box-shadow($tertiaryColor);
    &:hover {
        cursor: pointer;
        background: white;
        color: $tertiaryColor;
    }
}

.item.pp {
    padding: 0px !important;
    margin: -6px 5px -5px -5px !important;
}

.profile_pic {
    border-radius: 50em;
    width: 30px;
}

.ui.basic.segment.login {
    height: 150px;
    width: 500px;
    margin: auto !important;
    text-align: center;
    background: white !important;
    border: 1px solid $greyColor !important;
    border-radius: $borderRadius !important;
    margin-top: 100px !important;
    box-shadow: box-shadow($greyColor);
}

.big.logo {
    img {
        width: 100px;
    }
}

.small.logo {
    img {
        width: 50px;
    }
}

.queston-title {
    color: $primaryColor;
    font-size: 1.2em;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.page-title {
    font-size: 1.2em;
}

a {
    color: $primaryColor;
}

.ui.menu .item {
    &:hover {
        background: $secondaryColor !important;
    }
    &.active {
        background: $secondaryColor !important;
    }
}

.ui.violet.menu .active.item {
    background: $primaryColor !important;
    box-shadow: box-shadow($primaryColor);
    color: white !important;
}

.ui.dropdown .menu {
    top: 30px;
    &.static {
        position: static;
    }
}

.ui.very.basic.button {
    text-transform: uppercase;
}

.ui.dropdown .menu.left {
    left: -50px;
}

#toast-container>div {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: $borderRadius;
    background: white;
    color: $textColor;
    border: 1px solid $greyColor;
    opacity: 1;
    &:hover {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
}

.toast-error {
    border-left: 5px solid $errorColor !important;
}

.toast-success {
    border-left: 5px solid $primaryColor !important;
}

button.toast-close-button {
    color: $textColor
}

.question-subtitle {
    font-size: 0.9em;
    font-style: italic;
    color: $secondaryTextColor;
}

.permission-select {
    border: 1px solid $primaryColorShade2;
    text-align: center;
    border-radius: $borderRadius;
    padding: 15px 10px;
    box-shadow: box-shadow($primaryColorShade2);
    &.selected {
        background-color: $primaryColorShade2;
        color: white;
    }
}

.pagination {
    padding-left: 0px !important;
    li {
        &.disabled {
            &:hover {
                a {
                    border: 1px solid $greyColor;
                    background-color: $secondaryColor;
                    color: $primaryColor;
                }
            }
            & a {
                border: 1px solid $greyColor;
                background-color: $secondaryColor
            }
        }
        display: inline;
        & a {
            padding: 10px 15px;
            border: 1px solid $primaryColor;
            margin: 5px;
            /* color: violet; */
            border-radius: 0.2rem;
            color: $primaryColor;
        }
        &.active {
            a {
                background-color: $primaryColor;
                color: white;
            }
        }
        &:hover {
            a {
                background-color: $primaryColor;
                color: white;
            }
        }
    }
}

.pace.pace-active {
    height: 2px;
    width: 100%;
}

.empty-space {
    width: 15px;
    height: 20px;
    display: inline-table;
}

.display-inline-block {
    display: inline-block;
}

.ui.modal.visible.active {
    box-shadow: box-shadow($greyColor)
}

.ui.vertical.menu {
    width: 15rem;
    box-shadow: box-shadow($greyColor);
    & .item {
        &:hover {
            background: $secondaryColor !important;
        }
        & .active {
            background: $secondaryColor;
        }
    }
}

.ui.menu .ui.dropdown .menu>.item:hover {
    background: $secondaryColor !important;
}

.ui.circular.button {
    padding: 8px 11px;
    &.alert {
        margin-left: -19px;
        border-radius: 0px 4px 4px 0px;
        padding: 5px 10px !important;
        float: left;
        margin-right: 15px;
    }
}

.pace .pace-progress {
    background: $primaryColor;
    position: relative !important;
    width: 100%;
}

.grid-stack {
    width: 100% !important;
}

.grid-stack>.grid-stack-item>.ui-resizable-se {
    right: 10px;
    bottom: 10px;
}

.ui.label>.icon {
    margin: 0em 0em 0em 0.7em;
}

.grid-stack-item-content {
    box-shadow: box-shadow($greyColor);
}

.ui-resizable-resizing>.grid-stack-item-content {
    box-shadow: box-shadow($greyColor);
}

.ui-draggable-dragging>.grid-stack-item-content {
    box-shadow: box-shadow($greyColor);
}

.ui.grid>* {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

.ui.label.square {
    border-radius: $borderRadius;
    margin: 0.5em;
}

.ui.grid {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
    margin-right: 0rem !important;
}

.no-border-radius {
    border-radius: 0px !important;
    &.ui.segment.top-header {
        border-bottom: none;
    }
}

.no-border-top {
    border-top: 0px !important;
}

.no-padding {
    padding: 0px !important;
    &.wide.column {
        padding: 0px !important;
    }
}

.ui.grid .no-padding {
    padding: 0px !important;
    &.wide.column {
        padding: 0px !important;
    }
}

.margin-bottom {
    margin-bottom: 5px !important;
}

.margin-top {
    margin-top: 5px;
}

.tip {
    font-style: italic;
    font-size: 0.9em;
    color: grey;
    font-weight: 400;
}

.margined-content {
    margin-left: 5px;
    margin-right: 5px;
}

.menu .item i {
    color: rgba(0, 0, 0, 0.95);
}

.ui.segment.padded-content {
    padding-left: 22px !important;
    padding-right: 22px !important;
}

.ui.icon.search.input {
    width: 90% !important;
}

.ui.labeled {
    margin-bottom: 5px !important;
    & input {
        height: 2.56em;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        &:focus {
            border-color: $primaryColor;
        }
    }
}

.ui.grid>.column:not(.row) {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.grid-stack-item-content {
    top: 2px !important;
    bottom: 2px !important;
    left: 2px !important;
    right: 2px !important;
    & .title {
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.full-height {
    height: 100%;
}

.overflow-y-auto {
    overflow-y: auto
}

.full {
    width: 100% !important;
}

.no-top-border {
    border-top: none !important;
}

.no-top-margin {
    margin-top: 0px !important;
}

.no-bottom-margin {
    margin-bottom: 0px !important;
}

.no-border {
    border: none !important;
}

.border {
    border: 1px solid $greyColor;
    border-radius: $borderRadius;
}

.wide.column .dashboard-title {
    font-size: 1.2em;
    font-weight: 400;
    text-transform: capitalize;
}

.grid-stack>.grid-stack-item>.grid-stack-item-content {
    overflow-y: hidden;
}

.wide.column .question-title {
    font-size: 1em;
    font-weight: 400;
    text-transform: capitalize;
}

.options-dashboard {
    margin-top: 50px;
}

.without-header {
    background: $secondaryColor !important;
    &:fullscreen {
        overflow: auto;
        background: $secondaryColor !important;
    }
    &:-webkit-full-screen {
        overflow: auto;
        background: $secondaryColor !important;
    }
    &:-moz-full-screen {
        overflow: auto;
        background: $secondaryColor !important;
    }
}

.results {
    min-height: 500px;
    width: 100%;
    & .section {
        text-align: center;
        margin-top: 22%;
        font-size: x-large;
        color: $text-muted;
        & i {
            font-size: 5em;
        }
    }
}

body {
    font-family: 'Lato', sans-serif;
    color: $textColor !important;
    background-color: $secondaryColor;
}

.half {
    width: 50%;
    margin: auto !important;
}

.item.padded {
    padding: 3% 1% !important;
}

.right {
    float: right;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

// .tag {
//   background: #eee;
//   border-radius: 30px;
//   color: #999;
//   display: inline-block;
//   height: 26px;
//   line-height: 26px;
//   padding: 0 20px 0 23px;
//   margin: 0 10px 10px 0;
//   text-decoration: none;
//   -webkit-transition: color 0.2s;
//
// }
.tag-box {
    height: 100px;
    padding: 43px 0px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 1.5em;
}

.multiselect-accordion {
    & .title {
        color: $textColorShade2 !important;
    }
    & .content {
        padding-bottom: 0px;
    }
    & .multiselect-label {
        margin: 5px;
    }
    & .multiselect-checkboxes {
        max-height: 150px;
        overflow: auto;
        margin: 0px;
    }
    & .multiselect-selected {
        display: inline-block;
        border: 1px solid $primaryColor;
        padding: 2px 12px;
        border-radius: 50px;
        padding-right: 0px;
        margin: 2px;
    }
    & .selected {
        padding: 10px;
    }
}

.db-tree {
    height: 160px;
    & .tree {
        overflow: auto;
        height: 122px;
        .leafs {
            text-indent: 20px;
            background: $body-bg;
            &.leaf-name {
                font-size: 0.9em
            }
        }
    }
}

// .tag:hover {
//   background-color: crimson;
//   color: white;
//
// }
//
// .tag:hover::after {
//   border-left-color: crimson;
//
// }
.results-table {
    margin: 5px;
}

table {
    position: static !important;
}

.pivot-table {
    width: 100%;
    overflow: auto
}

.fullscreen {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 999;
    margin: 0px !important;
    background: white;
}

.action-buttons {
    height: 40px;
    text-align: right;
}

@import 'ember-bootstrap/bootstrap';
@import 'dashboard/dashboard';
.header-brand {
    padding-top: 5px;
}

.dropdown-item {
    &:hover {
        color: $primary !important;
    }
    &:active {
        color: white !important;
    }
}

.container {
    max-width: 95% !important;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    padding-left: 0px;
    padding-right: 0px;
}

//
.big.loader {
    height: 5rem;
    width: 5rem;
    top: 45%;
    &:before,
    &:after {
        height: 5rem;
        width: 5rem;
        left: 24.5%;
    }
}

.card {
    &.long-accordion {
        width: inherit;
        & .card {
            box-shadow: none;
            border: 0px;
            border-bottom: $border-width solid $border-color !important;
            & .card-body,
            & .card-header,
            & .card-footer {
                border: 0px;
            }
            & .card-header {
                min-height: 2.5rem;
            }
            & h5 {
                font-weight: normal;
                width: 100%;
                font-size: 1em;
                line-height: 1em;
                & .col-2 {
                    text-align: right;
                }
            }
        }
    }
}

.Searchable-select {
    background: $white;
    &--multiple a {
        padding: 5px 5px;
        min-height: 0px;
    }
    &__selected-pill {
        font-size: px2rem(12px);
        color: $white;
        background-color: $primary;
        border-radius: 3px;
        padding: 0 .5rem;
        line-height: 2em;
        display: inline-flex;
        cursor: default;
        font-weight: 400;
        user-select: none;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        border: 0px;
        @at-root a#{&} {
            text-decoration: none;
            cursor: pointer;
            transition: .3s color, .3s background;
            &:hover {
                background-color: rgba($text-muted-dark, .20);
                color: inherit;
            }
        }
        &-clear {
            display: inline-block;
            padding: 0 .5rem;
            color: inherit;
            text-decoration: none;
            background: rgba(#000, .06);
            margin: 0 -.5rem 0 .5rem;
            text-align: center;
            min-width: 1.5rem;
            font-size: inherit;
            line-height: inherit;
            font-weight: inherit;
            &:last-child {
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
            &:hover {
                color: inherit;
            }
            i {
                vertical-align: middle;
                margin: 0 -.25rem;
            }
            @at-root a#{&} {
                text-decoration: none;
                cursor: pointer;
                transition: .3s color, .3s background;
                &:hover {
                    background: rgba(#000, .16);
                    color: inherit;
                }
            }
        }
    }
    &__option {
        &:hover {
            background: $light;
            color: $primary;
            cursor: pointer;
        }
        &--selected {
            background: $light;
        }
    }
    &__clear {
        background: $primary;
        &:hover {
            background: $primary;
        }
    }
    &__input,
    &__label {
        &:focus,
        &:active {
            border-color: $primary;
            box-shadow: none;
        }
    }
    &__menu {
        border-color: $border-color;
    }
    &__search {
        background: $light;
    }
    &__label {
        box-shadow: none;
        border-color: $border-color;
        background: none;
        font-size: 0.9375rem;
        line-height: 1.6;
        padding: 0.375rem 0.75rem;
        &:after {
            color: $body-color;
            float: right;
            margin-top: 4px;
            font-family: 'feather' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\e92d"
        }
    }
}

.input-group.date .input-group-addon {
    cursor: pointer;
    border-right: 1px solid $border-color;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 2px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: $white;
    background: $primary;
    padding: 2px 5px;
    & i:hover {
        color: $white;
    }
}

.ui.calendar input {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

.fs-1 {
    font-size: 1rem;
}

.card h5 {
    font-weight: normal;
    width: 100%;
    font-size: 1em;
    line-height: 1em;
    & .col-2 {
        text-align: right;
    }
}

.dropdown-menu {
    z-index: 10000;
}

.dropdown-toggle:after,
.dropleft .dropdown-toggle:before {
    display: none;
}

.card-body {
    &-menu {
        top: 4px;
        left: 4px;
        position: absolute;
        z-index: 1;
    }
    &-timer {
        top: 4px;
        right: 7px;
        position: absolute;
        z-index: 1;
    }
}

.dimmer {
    position: static;
}

.row.variable-layer {
    .col-4,
    .col-3 {
        padding-left: 5px !important;
        padding-right: 0px !important;
        &:first-child {
            padding-left: 0px !important;
        }
        &:last-child {
            padding-right: 0px !important;
        }
    }
}

.variable-remove {
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: bold;
}

.calendar .ui.input {
    width: 100% !important;
}

.database-cards {
    & .card {
        width: initial;
    }
}

.row.row-cards {
    margin: -1.25rem !important;
    margin-top: 1.25rem !important;
}

.close {
    &:before {
        content: "";
    }
}

.dashboard-page {
    overflow: auto;
}
