
@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
@layer base {
  body{
    @apply tw-bg-secondary;
  }
  .tw-inset-shadow{
    @apply tw-shadow-[inset_0_0px_2px_0px];
  }
  .btn-full {
    @apply tw-rounded-sm tw-px-2 tw-bg-white tw-border-primary tw-border tw-text-primary tw-font-semibold tw-px-2 tw-text-ellipsis tw-overflow-hidden tw-whitespace-nowrap hover:tw-bg-secondary;
  }
  .btn-left {
    @apply tw-rounded-l-sm tw-px-2 tw-bg-white tw-border-primary tw-border tw-text-primary tw-font-semibold tw-px-2 tw-text-ellipsis tw-overflow-hidden tw-whitespace-nowrap hover:tw-bg-secondary;
  }
  .btn-right {
    @apply tw-rounded-r-sm tw-text-white tw-px-2 tw-bg-primary tw-border tw-border-primary tw-rounded-r-sm tw-px-2 tw-overflow-hidden tw-whitespace-nowrap hover:tw-bg-primary/80;
  }
  .btn-center {
    @apply tw-bg-primary tw-text-white tw-border tw-border-primary tw-px-2 tw-text-ellipsis tw-overflow-hidden tw-whitespace-nowrap hover:tw-bg-primary/80;
  }
  .bg-primary{
    @apply tw-bg-primary #{!important};
  }
  .text-primary{
    @apply tw-text-primary #{!important};
  }
  .btn-white{
    @apply tw-bg-white tw-text-primary hover:tw-bg-secondary;
  }
  .menu {
    @apply tw-overflow-hidden tw-border tw-rounded-sm tw-shadow-sm tw-border;
  }
  .input-border {
    @apply tw-border tw-border-default/20 tw-rounded-sm tw-border;
  }
  .input-border:focus-visible{
    @apply tw-border-primary tw-outline-0 tw-border tw-inset-shadow  tw-shadow-primary;
  }
  .input-no-border{
    @apply tw-border-0;
  }
  .label{
    @apply tw-text-sm tw-font-semibold;
  }

  .input-no-border:focus-visible { @apply tw-outline-0;}

  .splitpanes.pane-wrapper{
    @apply tw-bg-secondary ;
  }
  .splitpanes{
    @apply tw-h-auto  ;
  }
  .pane-left {
    @apply  tw-mr-1;
  }
  .pane-right{
    @apply tw-ml-1;
  }

  .splitpanes--vertical > .splitpanes__splitter {
    @apply tw-my-[10px] tw-h-[calc(100%-20px)];
  }

  .splitpanes.default-theme .splitpanes__pane{
    @apply tw-bg-secondary #{!important};
  }
  .text-icon-primary{
    @apply tw-text-white tw-bg-primary tw-py-0.5 tw-px-2 tw-text-sm tw-font-semibold tw-rounded-sm tw-mr-1 hover:tw-text-default hover:tw-bg-white
  }

  .icon-primary{
    @apply tw-text-white tw-bg-primary tw-inline tw-px-1 tw-py-0.5 tw-text-sm tw-font-semibold tw-rounded-sm tw-mr-1 hover:tw-text-default hover:tw-bg-white;
  }
  .icon-default{
    @apply tw-text-default tw-bg-white tw-border tw-inline tw-px-1 tw-py-0.5 tw-text-sm tw-font-semibold tw-rounded-sm tw-mr-1 hover:tw-bg-primary hover:tw-text-white;
  }
  .grid-stack {
    @apply tw-bg-secondary tw-h-full tw-bg-repeat tw-bg-[length:80px_80px] ;
    background-image: radial-gradient(--tw-primary 1%, transparent 5%);
  }
  .grid-stack .grid-stack-placeholder > .placeholder-content {
    @apply tw-bg-primary/50 #{!important};
    inset: 2px !important;
  }
  .grid-stack > .grid-stack-item > .grid-stack-item-content {
    inset: 2px !important;
  }
  .ag-card{
    @apply tw-bg-white tw-border tw-rounded-sm tw-shadow-sm
  }

  .note{
    @apply tw-text-sm tw-text-default/80
  }

  .item-3070-columns > *{
    @apply tw-flex-[1_1_30%] last:tw-flex-[1_1_70%];
  }

  .menu-item{
    @apply tw-py-1 tw-cursor-pointer tw-whitespace-nowrap tw-px-2 tw-block tw-w-full hover:tw-bg-primary hover:tw-text-white tw-text-ellipsis focus:tw-bg-primary focus:tw-text-white tw-border-b last:tw-border-b-0;
  }
  .editor-content {
    h1 {
      font-size: 3em;
      @apply tw-font-semibold;
    }
    h2 {
      font-size: 2em;
      @apply tw-font-semibold;
    }
    h3{
      font-size: 1.5em;
      @apply tw-font-semibold;
    }
    h4{
      font-size: 1.25em;
      @apply tw-font-semibold;
    }
    h5{
      font-size: 1em;
      @apply tw-font-semibold;
    }
    h6{
      font-size: 0.75em;
      @apply tw-font-semibold;
    }
    blockquote{
      @apply  tw-ml-2 tw-pl-2 tw-italic tw-font-semibold tw-border-l-2 tw-border-default/50 
    }
    code {
      @apply tw-bg-secondary tw-rounded
    }
    a{
      @apply tw-text-primary
    }
    ul {
      @apply tw-pl-6 tw-list-disc;
    }
    ol {
      @apply tw-pl-6 tw-list-decimal;
    }

  }

  ::-moz-selection {/* Code for Firefox */
    @apply tw-text-white tw-bg-primary;
  }

  ::selection {
    @apply tw-text-white tw-bg-primary;
  }

  .font-data{
    font-size: clamp(6rem, 2.5vh, 9rem);
    line-height: clamp(6rem, 2.5vh, 9rem);
  }

  .font-trend {
    font-size: clamp(1rem, 1vh, 2rem);
  }

}
// .grid-stack > .grid-stack-item {
//
//   $gridstack-columns: 24;
//
//   min-width: 100%/$gridstack-columns;
//
//   @for $i from 0 through $gridstack-columns {
//     &[gs-w='#{$i}'] { width: (100% / $gridstack-columns) * $i !important; }
//     &[gs-x='#{$i}'] { left: (100% / $gridstack-columns) * $i !important; }
//     &[gs-min-w='#{$i}'] { min-width: (100% / $gridstack-columns) * $i !important; }
//     &[gs-max-w='#{$i}'] { max-width: (100% / $gridstack-columns) * $i !important; }
//   }
// } 

.v-enter-active,
.v-leave-active {
  transition: height 1s ease;
}

.v-enter-from,
.v-leave-to {
  height: 100%;
}

#q-app{
  height: 100%
}

table, td, tr, thead, tbody{
  border-collapse: collapse !important;
  border-spacing: 0;
}


td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
  min-width: 10px;
}

html {
  font-family: 'Lato', sans-serif !important;
  font-size: 1rem;
  color: #6e7687;
}

.q-menu:after {
  position: absolute;
  bottom: -7px;
  left: 12px;
  display: inline-block;
  border-right: 7px solid transparent;

  border-top: 7px solid #fff;
  border-left: 7px solid transparent;
  content: '';
}

.q-menu {
  z-index: 100000 !important;
}

body *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  transition: .3s background;
}

// body ::-webkit-scrollbar-track {
//     background: rgb(255 0 0 / 10%);
//     border-radius: 0px;
// }

body *:hover::-webkit-scrollbar-thumb {
  background: #adb5bd;
}

body *:focus-visible{
  outline-width: 0;
}

body *::-webkit-scrollbar-thumb {
  background: #ced4da;
  border-radius: 100px;
}



.splitpanes--vertical > .splitpanes__splitter {
  min-width: 6px;
  background: white;
  border: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
}

.splitpanes--horizontal > .splitpanes__splitter {
  min-height: 6px;
  background: white;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}
.splitpanes {
  display: flex;
  width: 100%;
}

