{{#if checked}}
    <span class="circular checkbox" data-tooltip="{{dataTooltip}}" data-inverted="">
        <i class="circle icon"></i>
    </span>
{{else}}
    <span class="circular checkbox" data-tooltip="{{dataTooltip}}" data-inverted="">
        <i class="circle thin icon"></i>
    </span>
{{/if}}
