<div>
    <div class="clearfix">
        <div class="float-left">
            <strong>42%</strong>
        </div>
        <div class="float-right">
            <small class="text-muted">Value</small>
        </div>
    </div>
    <div class="progress progress-xs">
        <div class="progress-bar bg-yellow" role="progressbar" style="width: 42%" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>