<div class="padded-content ui segment full no-border-radius no-border-top no-bottom-margin">
    <div class="ui grid">
        <div class="eight wide column">
            <div class="page-title">
                {{pageTitle}}
                </div>
        </div>
        {{#if showAddDatabase}}
        <div class="eight wide column text-align-right">
            {{#link-to 'settings.databases.new'}}
                    ADD NEW DATABASE
            {{/link-to}}

        </div>
        {{/if}}
    </div>
</div>

<div class="ui basic segment full padded-content no-top-margin">
    <div class="ui grid full">
        <div class="four wide column">
            <div class="ui vertical pointing menu full">
                {{#link-to 'settings.databases.index' class="item"}}
                    Databases
                {{/link-to}}
                
                {{#link-to 'settings.email' class="item"}}
                    Email
                {{/link-to}}

                {{#link-to 'settings.sms' class="item"}}
                    SMS
                {{/link-to}}
                
                {{#link-to 'settings.pagerduty' class="item"}}
                    Pagerduty
                {{/link-to}}
                
                {{#link-to 'settings.users' class="item"}}
                    Users
                {{/link-to}}
                
                {{#link-to 'settings.permissions' class="item"}}
                    Permissions
                {{/link-to}}
            </div>
        </div>
        
        <div class="twelve wide column">
            {{outlet}}
        </div>

    </div>
</div>


