<div class="pl-3 pt-0">
    {{#each databases as |database|}}
        <div class="card mb-3">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-6">
                        <div class="d-flex align-items-center">
                            <span class="avatar mr-2 text-white bg-primary">
                                <i class="fe fe-database"></i>
                            </span>
                            <div>
                                <h5 class="m-0 text-default"> {{capitalize database.name}} </h5>
                                <small class="text-muted"> type: {{database.db_type}} </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        <button data-tooltip="Delete Question" data-inverted="" class="btn btn-link text-red" {{action 'showDeleteDialogue' database}}>
                        DELETE </button>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div> {{delete-dialogue entityName="database" open=toggleDeleteDialogue entity=databaseToBeDeleted delete="deleteDatabase"}}