{{#each databases as |database|}}
    <div class="ui segment full">
        <div class="ui grid">
            <div class="eight wide column">
                <div class="queston-title">
                    {{database.name}}
                </div>
                <div class="question-subtitle">
                    <b>Connection Url:</b> {{database.db_url}}
                    </div>
            </div>
            <div class="eight wide column text-align-right">
                <button data-tooltip="Delete Question" data-inverted=""  class="ui very basic red button" {{action 'showDeleteDialogue' database}}>
                    DELETE
                </button>
            </div>
        </div>
    </div>
{{/each}}
{{delete-dialogue entityName="database" entity=databaseToBeDeleted delete="deleteDatabase"}}
