{{#masonry-grid items=dashboards as |dashboard|}}

<div class="card p-3 mb-0">
    <div class="d-flex">
        <span class="stamp stamp-md bg-primary mr-3">
            <i class="fe fe-grid"></i>
        </span>
        <div class="row justify-content-between w-100">
            <div class="col">
                <h4 class="m-0">
                    {{#link-to "dashboards.show" dashboard.id class="item text-primary" }}
                    {{dashboard.title}} {{/link-to}}
                </h4>
                <small class="text-muted">{{dashboard.description}}</small>
            </div>
        </div>
    </div>
</div>
{{/masonry-grid}}