{{#if loading}}
    <div class="dimmer active">
        <div class="loader big text-primary"></div>
        <div class="dimmer-content"> </div>
    </div>
{{else}}
    {{#if error}}
        <div class="ui segment results full loading-height">
            <div class="ui active inverted dimmer">
                <div> Sorry! We could not log you in.</div>
                <div>{{errors}}</div>
                {{#link-to 'login'}}
                    <button class="btn btn-link text-primary"> Please try again </button>
                {{/link-to}}
            </div>
        </div>
    {{/if}}
{{/if}}