<div class="ui modal delete-dialogue {{className}}">
    <div class="create-dashboard content">
        Are you sure , you want to delete this {{entityName}}?
    </div>
    <div class="actions">
        <div class="ui red deny button">
            Cancel
        </div>
        <div class="ui positive right button" {{action "delete" entity }}>
            Yes I am Sure
        </div>
    </div>
</div>
