<div class="db-tree mx-1">
    <div class="form-group mb-0">
        {{input type="text" value=query class="form-control" placeholder="Search Tables and Columns"}}
        {{table-tree editor=editor tables=tables database=database}}
    </div>
</div>