<div class="header collapse d-lg-flex p-0">
    <div class="container">
        <div class="nav nav-tabs border-0 flex-column flex-lg-row py-3 px-0">
            <div class="row">
                <div class="col-12">
                    <div class="text-default"> All Dashboards</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">

    {{dashboard-index-grid dashboards=dashboards}}
</div>