{{#bs-modal position="center" open=open onHide=(action 'clearSharedTo') as |modal|}}
    {{#modal.header}}
        <h4 class="modal-title"> Share {{entityName}} </h4>
    {{/modal.header}}
    {{#modal.body}}
        <div class="tip mb-2">Tip: Enter 'all' to share with everybody on AfterGlow</div> {{searchable-select
            content=userEmails
            multiple=true
            selected=selectedUsers
            closeOnSelection=false
            prompt="Select People You want to share it with"
            on-add=(action "addNewSharedTo")
            on-change=(action 'addToSharedTo')}}
        <div class="tip mt-2 mb-2">Or share the link below.</div>
        <input type="text" value= {{entity.shareable_url}} class="form-control" disabled /> {{/modal.body}}
    {{#modal.footer as |footer|}}
        {{#bs-button onClick=(action 'clearSharedTo') type="danger" }}Cancel{{/bs-button}}
        {{#bs-button onClick=(action 'saveSharedTo') class="btn-primary" type="primary" }}Share{{/bs-button}}
    {{/modal.footer}}
{{/bs-modal}}