{{#bs-modal position="center" open=open onHide=(action 'hide') as |modal|}}
{{#modal.header}}
<h4 class="modal-title"> Select Variables For This Dashboard </h4>
{{/modal.header}}
{{#modal.body}}
{{searchable-select
            content=variables
            multiple=true
            optionLabelKey="name"
            selected=variablesSelected
            closeOnSelection=false
            prompt="Select Variables"
            on-change=(action 'mutateVariables')}}
{{/modal.body}}
{{#modal.footer as |footer|}}
{{#bs-button onClick=(action 'hide') class="btn-primary" type="primary" }}Done{{/bs-button}}
{{/modal.footer}}
{{/bs-modal}}