{{#if queryObject.database.name}}
<span class="tag border text-primary border-primary  bg-white">
    Data Source:
    <div class="tag-addon text-white border-primary bg-primary">
        {{#bs-dropdown closeOnMenuClick=false as |dd|}}
        {{#dd.toggle class="text-white "}}
        {{queryObject.database.name}}
        {{/dd.toggle}}
        {{custom-single-select dd=dd icon="fe-database" value=queryObject.database options=databases displayKey="name"}}
        {{/bs-dropdown}}

    </div>
</span>
{{else}}
{{#bs-dropdown closeOnMenuClick=false as |dd|}}
{{#dd.toggle id="datasource-selector" class="btn tag-size  btn-secondary text-primary border-primary py-0 px-1"}}
<i class="fe fe-plus"></i> Data Source
{{/dd.toggle}}
{{custom-single-select 
 elseMessage="You don't have any database. Please ask your admin to add databases or provide you access to already added database"
 elseClass="menu-content"
 dd=dd icon="fe-database" value=queryObject.database options=databases displayKey="name"}}
{{/bs-dropdown}}
{{/if}}


