<div class="ui modal create-tag">
    <div class="header">
        Create Tag
    </div>
    <div class="create-tag content">
        <div class="ui grid">
            <div class="ui form full">
                <div class="sixteen wide column">
                    <div class="field">
                    <label>Name</label>
                        {{input value=tag.name class="ui" placeholder="What are you calling it?" }}
                    </div>
                </div>
                <div class="sixteen wide column">
                    <div class="field">
                    <label>Description</label>
                        {{input value=tag.description class="ui" placeholder="What does it show?" }}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="actions">
        <div class="ui red deny button">
            Cancel
        </div>
        <div class="ui positive violet right button " {{action "createAndAddToTag" entity}} >
            Create and Add {{toEntityName}} to Tag
        </div>
    </div>
</div>
