<div class=" border p-2"> {{searchable-select
            class="my-2"
            content=filteredColumns
            sortBy="human_name"
            selected=orderBy.column
            prompt="Select a Column"
            optionLabelKey="human_name"
            on-change=(action (mut orderBy.column))}}
    {{searchable-select
            class="my-2"
            content=orders
            sortBy="name"
            selected=orderBy.order
            prompt="Select Sort Direction"
            optionLabelKey="name"
            on-change=(action (mut orderBy.order))}}
    </div>