
<div class="ui basic segment login">
    {{app-logo logoSize="big"}}
    <div class="google ui very basic button violet" {{action "loginWithGoogle"}}>
        <i class="google icon red"></i>
        <span >LOGIN WITH GOOGLE</span>
    </div>
</div>
