
<div class="ui basic segment login">
    <div class="">
    <div class="google ui very basic button violet" {{action "loginWithGoogle"}}>
        <i class="google icon red"></i>
        <span >LOGIN WITH GOOGLE</span>
    </div>
    </div>
</div>
