{{#if (exists-in index results)}}
<div class="card-body p-2">
    {{#link-to 'explore.new' (get-column-id index results) value target="_"}}
    View Details
    {{/link-to}}

</div>
{{/if}}

<div class="card-body p-2">

    {{#copy-button
  class="btn btn-link p-0"
  clipboardText=value
}}
    Copy Exact Value
    {{/copy-button}}
</div>

<div class="card-body p-2">
    {{#copy-button
  class="btn btn-link p-0"
  clipboardText=(format-object value)
}}
    Copy Formated Value
    {{/copy-button}}
</div>
{{#if (and showQuickFilters noGroupBysInAdditionalFilters)}}
{{#unless (is-empty availableOperators)}}
<div class="card-body p-2">
    <div class="tags">
        Quick Filters:
        {{#each availableOperators as |operator|}}
        <div class="tag" {{action 'addFilter' operator}}>
            {{operator.value}}
        </div>
        {{/each}}
    </div>
</div>
{{/unless }}
{{/if}}