{{base-header goToDashboard="goToDashboard" invalidateSession='invalidateSession'}}
<div class="ui grid basic segment no-top-margin without-header full">
    <div class="ui grid basic segment full">
        {{outlet}}
    </div>
</div>
{{#if showDashboardSearch}}
  {{dashboard-selector goToDashboard='goToDashboard'}}
{{/if}}
{{#if showQuestionSearch}}
{{question-selector goToQuestion='goToQuestion'}}
{{/if}}
